body {
    color: white;
    background: #270c02;
    margin: 0px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 100px;

}

header {
    border-bottom: solid 2px #FFD700;
    padding: 20px;
    font-size: 32px;
    color: #FFD700;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.chamada {
    background: black;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

div {
    margin-right: 20px;
}

.chamada-texto {
    margin-right: 5%;
}


.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;

}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid white;
}

.categoria h2 {
    color: #FFD700;
}